{% extends "base.html" %}

{% block content %}

<div class="card mx-auto w-50" style="max-width:400px;">
    <div class="card-body">
        <form method="post" action="{% url 'multiply_page' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">ใส่เลขสุ่ม</label>
                <input 
                type="number" 
                class="form-control" 
                id="count" 
                name="number"
                aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">ใส่เลข</div>
           
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>   


<div class="card ms-auto" style="width: 28rem; float: right;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body" style="overflow-x:auto;">
    <p class="card-text">สูตรสองหนึ่งสอง สองสองสี่</p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">number</th>
          <th scope="col">multiply</th>
          <th scope="col">results</th>
        </tr>
      </thead>
      <tbody>
        {% comment %} {% for i in count %} {% endcomment %}
         <tr>
          {% comment %} <th scope="row">{{ forloop.counter }}</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td> {% endcomment %}
          {% comment %} <th scope="row">{{ forloop.counter }}</th>
          <td>{{ i }}</td>
          <td>{{ multiply }}</td>
          <td>{% widthratio multiply l i %}}</td>
        </tr> {% endcomment %}
        {% for a, b, c in results %}
         <tr>
           <th scope="row">{{ forloop.counter }}</th>
           <td>{{ a }}</td>
           <td>{{ b }}</td>
           <td>{{ c }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}